<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin Labels</Name><AddInID>{69eb3b09-df8c-44a3-a3c2-01ba749109bf}</AddInID><Description>Barra de ferramentas para gerar labels em determinadas</Description><Version>0.1</Version><Image /><Author>F&#225;bio Bueno de Lima</Author><Company>Labgis Extens&#227;o UERJ</Company><Date>03/15/2015</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Addin_addin.py" namespace="Addin_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Lista de Layers" category="Python Addin Labels" class="ComboBoxLayers" id="AddIn.ComboLayers" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Selecione o Layer"><Help heading="" /></ComboBox>
        <Tool caption="Adicionar Label Avulso" category="Python Addin Labels" class="BtnAdicionarLabel" id="Addin.BtnAdicionarLabel" image="Images\B1_1.png" message="Um label ser&#225; adicionado toda a vez que uma fei&#231;&#227;o for clicada. &#201; poss&#237;vel escolher de qual atributo do label ser&#225; adicionado" tip="Adicionar um label sobre a fei&#231;&#227;o selecionada"><Help heading="" /></Tool>
        <Button caption="Habilitar modo Layout" category="Python Addin Labels" class="BtnLayout" id="Addin.BtnLayout" image="Images\B1.png" message="Ative esse bot&#227;o para entrar em modo de layout no ArcMap e desative para sair do modo de layout" tip="Clique para entrar em modo de layout"><Help heading="" /></Button>
        <ComboBox caption="Lista de Campos" category="Python Addin Labels" class="ComboBoxCampos" id="AddIn.ComboCampos" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Selecione o Campo"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Barra Personalizada para Label" category="Python Addin Labels" id="AddIn.ToolBarLabel" showInitially="true"><Items><ComboBox refID="AddIn.ComboLayers" /><Tool refID="Addin.BtnAdicionarLabel" /><Button refID="Addin.BtnLayout" /><ComboBox refID="AddIn.ComboCampos" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>